@font-face {
    font-family: "tamashaIcon";
    src: url("../static/fonts/webFont/tamashaIcon.ttf?f2b263364e2aa39a831516de237b10ca") format("truetype"),
url("../static/fonts/webFont/tamashaIcon.woff?f2b263364e2aa39a831516de237b10ca") format("woff"),
url("../static/fonts/webFont/tamashaIcon.woff2?f2b263364e2aa39a831516de237b10ca") format("woff2"),
url("../static/fonts/webFont/tamashaIcon.eot?f2b263364e2aa39a831516de237b10ca#iefix") format("embedded-opentype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: tamashaIcon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-weekend:before {
    content: "\f101";
}
.icon-x-live:before {
    content: "\f102";
}
